.post {
   position: relative;
   width: 40%;
   height: 40%;
   background: #fff;
   box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
   margin: 10px 50px;
   float:left;
   border-radius: 15px;

   display:flex;
   flex-direction :row;
   justify-content: space-between;
   justify-items: center;
   align-items: center;
   flex-wrap: wrap;
   

}
   
.post-left {
       width: 15%;            
       max-width: 15%;
       display: table-cell;
       vertical-align: middle;
       text-align: center;
       font-weight: bold;
       color: #000;
}

.post-content {
       width: 75%;           
       display: table-cell;
       text-align: left;
       background-color: #E8E8E8;
       color: #000000;
       border-radius: 0 15px 15px 0;
       padding: 0px 20px 20px 20px;      
}
.post-title{
   font-family: 'Itim', cursive;
   font-weight: bold;
   color: #2b312b;
   font-size: 25px;
   height: 25px;
   
   padding-right: 10px;
   
   }
.post-more {
   float: right;
   cursor: pointer;
   font-size: 18px;
   margin-right: 0 !important;
   padding-right: 0 !important;
   padding-bottom: 10px;
   font-size: 30px;
}
.post-desc{
   height: 100px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 15px;
   text-overflow: ellipsis;
   word-wrap: break-word;
   overflow: hidden;
   max-height: 3.6em;
   line-height: 1.2em;
   
}

.post{
   display:flex;
   flex-direction :row;
   justify-content: space-between;
   justify-items: center;
   align-items: center;
   flex-wrap: wrap;
}
body {
   height: 100%;
   width: 100%;
   position: relative;
   margin: 0 !important;
   color: #fff;
   background-color: orange;
   background-size: 2000% 2000%;
}
.allPostsContainer {
   height: 100%;
   margin-top: 20px;
   width: 100%;

}

.logo-title{
    font-family:  'Satisfy', cursive; 
     font-size:25px;
      position: fixed;
      top: 0px;
      left:0px;
      color:blue;
      margin: 0px;
 }
 
 .sub-title{
    font-family:  'Satisfy', cursive; 
    font-size:12px;
     position: absolute;
     top:40px;
 }
 .topButtons{
    
    background: blue;
    color: white;
    box-shadow: 0 2 0 2;
    margin-right: 10px;
    padding: 8px 12px 8px 12px;
    font-family: 'Calibri';
    font-size: 17px;
    width:90px;
    
 }
 .header-right{
    display:flex;
    justify-content: right;
 }

 #myModal{
   display: none;
    width: 30%;
    position: fixed;
    top:20%;
    left: 40%;
 
 }

 #myModal1{
    display: none;
    width: 30%;
    position: fixed;
    top:20%;
    left: 40%;
 }

 #myModal2{
    display: none;
    width: 30%;
    height:10%;
    position: fixed;
    top:20%;
    left: 40%;
    border: 0px;

 }

 .yes-btn{
    color:black;
    background : rgb(241, 87, 87);
    border : 0px;
    width: 100px;
    height: 40px;
    color:white;
    font-size : 15px;
}

.No-btn{
   color:black;
    background : rgb(114, 190, 114);
    border : 0px;
    width: 100px;
    height: 40px;
    color:white;
    font-size : 15px;
    margin-left: 80px;
}

 .modal-header2 {
    height: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    height: 30px;
    }
 .modal-header2 h4{
 
 font-size: 22px;
 font-family: 'PT Sans Narrow', sans-serif;
 color:black;
 
 }

 .modal-body2 {
    
    display: flex;
    flex-direction: column; 
    padding: 16px 16px;}
 
    .modal-body2 input{
       padding:3%;
       border:0px;
       background: rgb(240, 240, 240);
       font-size: 14px;
    }
    form{
       display: flex;
    flex-direction: column;
 
    }
 
    .modal-body2 label{
       padding: 3%;
       font-size: 14px;
       font-family: Arial, Helvetica, sans-serif;
       color:black;
    }

    .modal-footer2 {
        padding: 2px 16px;
        
        color:black;
        height:50px;
      }
     
      .btn-default{
         width:100%;
         background: #5cb85c;
         border: 0px;
         height: 35px;
         color:white;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
      }
      
      /* Modal Content */
      .modal-content2 {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        
      }
      /* The Close Button */
      .close2 {
        color: #aaa;
        float: right;
        font-size: 20px;
        font-weight: bold;
        border:0px;
        background:white;
      }
      
      .close2:hover,
      .close2:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

      @media (min-width: 200px) and (max-width: 1000px) {
         .post-title{ 
            text:"Hello There !";
             
             font-size: 11px;
             
         }
      }
     
      @media (min-width: 200px) and (max-width: 1000px) {
         .post-desc{ 
             
             font-size: 12px;
             
         }
      }
     
      @media (min-width: 200px) and (max-width: 1000px) {
         .post-content{ 
             width: 60%;
             
         }
      }
     
      @media (min-width: 200px) and (max-width: 1000px) {
         .post{ 
         width: 30%;
         display:flex;
         flex-direction :row;
         justify-content: space-between;
         justify-items: center;
         align-items: center;
         flex-wrap: wrap;
             
         }
      }
      


     
     