body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

.logo-title{
   font-family:  'Satisfy', cursive; 
    font-size: 25px;
     position: fixed;
     top: 0px;
     left:0px;
     color: blue;
     margin: 0px;
}

.sub-title{
   font-family:  'Satisfy', cursive; 
   font-size :12px;
    position: absolute;
    top:40px;
}
.topButtons{
   
   background: blue;
   color: white;
   box-shadow: 0 2 0 2;
   margin-right: 10px;
   padding: 8px 12px 8px 12px;
   font-family: 'Calibri';
   font-size: 17px;
   width: 90px;
   
}
.header-right{
   display: flex;
   justify-content: right;
}


.postButtons{
   position: fixed;
   top: 50%;
   left: 40%;
}
 
.create-buttons{
   background: orange;
   margin: 10px;
   padding: 8px;
   font-family: Arial;
   font-size: 16px;
   font-weight: bold;
  
}

#myModal{
   display: none;
   width: 30%;
   position: fixed;
   top: 20%;
   left: 40%;

}

#myModal1{
   display: none;
   width: 30%;
   position: fixed;
   top: 20%;
   left: 40%;
}

#myModal2{
   display: none;
   width: 40%;
   position: fixed;
   top: 10%;
   left: 30%;
}

#modalbody input{
   height: 15px;
   padding: 0%;
}

#modalbody textarea{
   margin: 0px;
   border: 0.5px solid rgb(184, 184, 184);
   background: rgb(240, 240, 240);
   font-size: 14px; 
}

#modalbody label{
   padding: 0%;
   font-family: Arial, Helvetica, sans-serif;
}

.modal-footer .btn-create{
   position: relative;
    left: 45%;
    background: #5cb85c;
    color : white;
    border: 0px;
    padding: 2%;
    font-size: 15px;
}


.modal-header {
   height: 15px;
   border-bottom: 1px solid #e5e5e5;
   text-align: center;
   height: 30px;
   }
.modal-header h4{

font-size: 22px;
font-family: 'PT Sans Narrow', sans-serif;

}
 /* Modal Body */
 .modal-body {
    
   display: flex;
   flex-direction: column; 
   padding: 16px 16px;}

   .modal-body input{
      padding: 3%;
      border: 0px;
      background: rgb(240, 240, 240);
      font-size: 14px;
   }
   form{
      display: flex;
   flex-direction: column;

   }

   .modal-body label{
      padding: 3%;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
   }

 /* Modal Footer */
 .modal-footer {
   padding: 2px 16px;
   
   color: white;
   height:50px;
 }

 .btn-default{
    width:100%;
    background: #5cb85c;
    border: 0px;
    height: 35px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
 }
 
 /* Modal Content */
 .modal-content {
   position: relative;
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   width: 80%;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   
 }
 /* The Close Button */
 .close {
   color: #aaa;
   float: right;
   font-size: 20px;
   font-weight: bold;
   border: 0px;
   background:white;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

  